<% content_for :title, "Editing politician" %>

<h1>Editing politician</h1>

<%= render "form", politician: @politician %>

<br>

<div>
  <%= link_to "Show this politician", @politician %> |
  <%= link_to "Back to politicians", politicians_path %>
</div>
